<h1>User: <%= @user.email %></h1> 

<h2>Created Events</h2>

<ul>
    <% @created_events.each do |event| %>
      <li> <%= link_to event.title,event_path(event) %> </li>
    <% end %>
</ul>

<h2>Attended Events</h2>

<%# below is using queries as demanded in instructions %>
<h4>Future events to attended</h4>

<ul>
    <% @user.attended_events.where('date > ?', Date.today).each do |event| %>
        <li> <%= link_to event.title,event_path(event) %> %></li>
    <% end %> 
</ul>

<h4>Past attended events</h4>

<ul>
    <% @user.attended_events.where('date < ?', Date.today).each do |event| %>
        <li> <%= link_to event.title,event_path(event) %> </li>
    <% end %>
</ul>



<%# this was without using queries, simple if-else commented out using if false block  %>
<% if false %>
    <ul>
        <% @user.attended_events.each do |event| %>
            
            <%  if event.date>Date.today %>
                <h3>Future events to attended</h3>
                <li> <%= link_to event.title,event_path(event) %> </li>
            <% else %>
                <h3>Past attended events</h3>
                <li> <%= link_to event.title,event_path(event) %> </li>
            <% end %>

        <% end %>
    </ul>
<% end %>
