<h1>User: <%= @user.email %></h1> 

<h2>Created Events</h2>

<ul>
    <% @created_events.each do |event| %>
      <li><%= event.title %> => <%= link_to 'event details',event_path(event) %> </li>
    <% end %>
</ul>

<h2>Attended Events</h2>
<%# this was without using queries, simple if-else commented out using if false block  %>
<% if false %>
    <ul>
        <% @user.attended_events.each do |event| %>
            
            <%  if event.date>Date.today %>
                <h3>Future events to attended</h3>
                <li><%= event.title %> => <%= link_to 'event details',event_path(event) %> </li>
            <% else %>
                <h3>Past attended events</h3>
                <li><%= event.title %> => <%= link_to 'event details',event_path(event) %> </li>
            <% end %>

        <% end %>
    </ul>
<% end %>
<%# below is using queries as demanded in instructions %>
<h3>Future events to attended</h3>
<% @user.attended_events.where('date > ?', Date.today).each do |event| %>
    <%= event.title %> => <%= link_to 'event details',event_path(event) %> <br>
<% end %>

<h3>Past attended events</h3>
<% @user.attended_events.where('date < ?', Date.today).each do |event| %>
    <%= event.title %> => <%= link_to 'event details',event_path(event) %> <br> 
<% end %>
<br>
<%=link_to 'logout', destroy_user_session_path,data: { turbo_method: :delete } %><br><br>
<%= link_to 'create-events',new_event_path %><br><br>

