<h1>All Events From All Users</h1>

<%  if user_signed_in? %>
    <h3>Current User: <%= current_user.email%> </h3>
<% else %>
    <h3>Logged out</h3>
<% end %>

<h2> Past Events </h2>
<ul>
  <% @past_events.each do |event| %>
    <li>
      <%= event.title %> => <%= link_to 'event details',event_path(event) %>
    </li>
  <% end %>
</ul>

<h2> Upcoming Events </h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= event.title %> => <%= link_to 'event details',event_path(event) %>
    </li>
  <% end %>
</ul>
                                   

<%= link_to 'create-events',new_event_path %> <br><br>

<%  if user_signed_in? %>
  <%=link_to 'logout', destroy_user_session_path,data: { turbo_method: :delete } %><br><br>
  <%= link_to 'user page',user_path(current_user) %><br><br>
<% end %>

